<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Pirkinių sąrašas</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor = "let vardas of vardai; let i = index">
                        {{ i+1 }}. {{ vardas }} <button class="btn btn-danger float-end" (click) = "removeVardas(i)">Ištrinti</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Pridėti naują vardą</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Vardas: </label>
                    <input type="text" class="form-control" #newVardas (keyup.enter) = "addNewVardas(newVardas)">
                </div>
                <button class="btn btn-success" (click) = "addNewVardas(newVardas)">Pridėti</button>
            </div>
        </div>
    </div>
</div>